
 #auth-form{
     margin: auto;
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 47%;
     border: solid 1px #dadce0;
     box-shadow: rgb(225, 225, 225) 1px 1px 6px;
 }
 #auth-input{
     width: 93%;
     
 }

#auth-title{
    text-align: center;
    width: 100%;
    margin-top:50px;
    font-size: 22px;
    font-weight: bold;
}

 
 #auth-input input{
     width: 100%;
     /* display: block; */
     box-sizing: border-box;
     font-size: 14px;
     font-family: 'Comfortaa';
     margin-top: 10px;
     padding: 8px;
     padding-left: 8px;
 }
 #auth-switch{
     display: flex;
     box-sizing: border-box;
     flex-wrap: wrap;
     justify-content: center;
     padding: 20px;
     padding-top: 35px;
     font-size: 12px;
     width: 100%;
     margin: 10px;
     border-top: solid rgb(230, 230, 230) 1px;
 }
 
 #auth-form button:hover{
  background-color: black;
  animation-name: buttonAnimation;
  animation-duration: .5s;
}

@keyframes buttonAnimation {
  0%   {background-color: rgb(255, 98, 39);}
  100% {background-color: black;}
}


 #auth-switch > *{
    padding: 3px;
 }

  #auth-form h1{
    font-family: 'Montserrat', sans-serif;
 }

  #auth-form p{
     color:rgb(17, 17, 184);
     cursor: pointer;
     font-size: 12px;
     margin: 10px 0px 0px
 }
 #auth-button{
    width: 100%;
     font-size: 20px; 
     margin-top: 10px;
     color: white;
     background-color: rgb(255, 98, 39);
     cursor: pointer;
     padding: 12px;
     font-weight: 700;
     margin-bottom: 5px;
     border-radius: 3px;
 }
 #auth-button.signup{
     margin-top: 25px;
 }
#phantom-div{
    height:50px;
    width: 100px;
}
#login-link.auth-link{
    color:rgb(103, 103, 221)
}
#session-errors{
    margin-bottom: 20px;
}
@media screen and (max-width: 600px) {
 #auth-form{
     width: 90%;
 }
 #home-category-links{
     padding-top: 180px;
 }
}