#box-modal-outer{
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  top: 0px;
  left: 0px;
  background-color: rgba(150, 150, 150, 0.5);

}
#box-modal-inner{
  position: fixed;
  margin: auto, auto;
  width: 85vw;
  height: 100vh;
  right: 0px;
  background: white;
  z-index: 10;
  animation-name: enter;
  animation-duration: 1s;
  /* background-color: white; */
}

#box-modal-inner.box-exit{
  animation-name: exit;
  animation-duration: .75;
  right: -85vw;
}
@keyframes enter {
  from {right: -85vw;}
  to {right: 0vw;}
}
@keyframes exit {
  from {right: 0vw;}
  to {right: -85vw;}
}

@media screen and (min-width: 600px) {
 #box-modal-inner{
   width: 50vw;
 }
 #box-modal-inner.box-exit{
  animation-name: exit;
  animation-duration: .75;
  right: -50vw;
}
@keyframes enter {
  from {right: -50vw;}
  to {right: 0vw;}
}
@keyframes exit {
  from {right: 0vw;}
  to {right: -50vw;}
}
}

.box-row{
  display: flex;
  border-top: rgb(206, 206, 206) solid 1px;
  border-bottom: rgb(186, 186, 186) solid 1px;
}

.box-row-image{
  margin: 20px;
  width: 10vw;
  height: 10vw;
  margin-left: 20px;
}
.box-row-name{
  font-size: 18px;
  text-shadow: black 1px 0px 1px;
}
.box-row-price{
  display: flex;
  align-items: flex-end;
  justify-self: flex-end;
}
.box-row-details{
  width: 64%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box-row-price div{
  display: flex;
  align-items: flex-end;
  padding-bottom: 20px;
}

.box-row-delete button{
  width: 50%;
  height: 30px;
  font-size: 12px; 
  color: white;
  background-color: rgb(277, 98, 39);
  cursor: pointer;
  font-weight: 700;
  border-radius: 3px;
}
 .box-row-delete button:hover{
  background-color: black;
  animation-name: buttonAnimation;
  animation-duration: .5s;
}

@keyframes buttonAnimation {
  0%   {background-color: rgb(277, 98, 39);}
  100% {background-color: black;}
}
#box-header{
  display: flex;
  justify-content: space-between;
  margin: 10px 15px;
}

#box-footer{
  display:flex;
  flex-direction: column;
  align-items: center;
}
#box-options{
  box-sizing: margin-box;
  width: 100%;
  margin: 20px;
  display: flex;
  justify-content: space-between;
}
#box-options button{
  width: 50%;
  height: 30px;
  font-size: 12px; 
  color: gray;
  background-color:white;
  border: solid 1px gray;
  cursor: pointer;
  font-weight: 700;
  border-radius: 3px;
}
#box-options button:hover{
  background-color: black;
  animation-name: otherButtonAnimation;
  animation-duration: .5s;
  color:white;
}
@keyframes otherButtonAnimation {
  0%   {background-color: white; color:gray}
  100% {background-color: black; color:white}
}

#checkout-button{
  width: 100%;
  height: 30px;
  font-size: 12px; 
  color: white;
  background-color: rgb(277, 98, 39);
  cursor: pointer;
  font-weight: 700;
  border-radius: 3px;
}
#checkout-button:hover{
background-color: black;
animation-name: buttonAnimation;
animation-duration: .5s;
}

#box-total, #bob{
  margin:0px 10px;
}