.home-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.all-categories{
  display: flex;
  flex-direction: column;
 justify-content: center;
  width: 100%;
}
.category-display{
  display: flex;
  width:100%;
  flex-direction: column;
  justify-content: center;
}

.product-image{
  object-fit: cover;
  height: 100%;
  overflow: hidden;
  
}

.category-products{
  display: flex;
  justify-content: center;
}

.category-header{
  text-align: center;
}

.category-title{
  font-size: 27px;
  font-weight: 800;
  margin-top: 40px;
  text-shadow: 2px 0px 2px black;
  letter-spacing:3px;
}
#category-blurb{
  font-size: 18px;
  margin-top: 5px;
  color: gray;
}
.category-link{
  
  font-size: 19px;
  text-shadow: 1px 0px rgb(226, 163, 44);
  letter-spacing:3px;
  color:rgb(226, 163, 44);
  display: block;
}
.category-link{
  margin-bottom: 30px;
  padding-top: 8px;
}
#home-banner{
  width: 100%;
  background-image: url("https://meat-project-seed.s3-us-west-1.amazonaws.com/bannercropped.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0, auto;
  height:525px;
  font-size: 40px;
}
#home-banner-image{
  height:100%;
  object-fit: cover;
  overflow: hidden;
}
#home-blurb{
  padding: 40px;
  background: radial-gradient( rgb(255, 251, 175), rgb(226, 224, 181));
  border: solid 1px  rgb(255, 251, 175);
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}
.category-show-banner{
  width: 100%;
  background: radial-gradient( yellow, red);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:70vh;
  font-size: 40px;
  position: relative;
  z-index: -1;
}
#category-show-banner-image{
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#category-show-description{
  position: absolute;
  top: 60%;
  color: aliceblue;
  text-shadow: 3px 3px black;
  padding: 50px;
}
.category-show-title{
  position: absolute;
  top: 30%;
  color: aliceblue;
  text-shadow: 3px 3px black;

}

.category-show .category-products{
  display: flex;
  flex-wrap: wrap;
}

#home-category-links{
  display: flex;
  width: 100%;
  padding-top:55px;
  padding-bottom: 12px;
  justify-content: space-evenly;
  background-color: black;
}


#bnner-link {
  color: orange;
}

/* @keyframes spinnyBoyAnimation {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(1000deg);}
} */

#home-footer{
  width: 100%;
  height: 300px;
  background: radial-gradient( rgb(255, 251, 175), rgb(226, 224, 181));
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
#home-footer-title{
  font-size: 27px;
  font-weight: 800;
  margin-top: 40px;
  text-shadow: 2px 0px 2px black;
  letter-spacing:3px;
}
#home-footer-body{
  display:flex;
  justify-content: center;
}
#home-footer-body div{
  text-align: center;
  width: 40%;
  padding:10px;
}
#home-footer-body div h3{
  font-size: 20px;
  font-weight: 800;
  margin-top: 40px;
  text-shadow: 2px 0px 2px black;
  letter-spacing:3px;
  margin-bottom: 15px;
}
#home-category-links a{
  color: white;
}

@media screen and (max-width: 600px) {
 #home-category-links{
     padding-top: 90px;
 }
 #home-footer{
 height:700px;
 }
 #home-footer-title{
 margin-top: 20px;
 text-align: center;
 }
 #home-banner{
   height: 45vh;
 }
}
#searchbar * {
  width: 100vw;
  position: fixed;
  left: 0px;
}