#product-show{
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#product-show-options{
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding:
}
#product-show-picture{
  width: 65vw;
  height: 75vw;
  text-align: center;
  margin-right: 15px;
  object-fit: cover;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 3px 3px 3px rgb(208, 208, 208);

}
#product-show-name{
  font-weight: bold;
  font-size: 30px;
}
#product-show-price{
  font-size:20px;
  padding:5px;
  border: 2px solid green;
  background-color: rgb(101, 182, 19);
  color: white;
  border-radius: 10px;
  display: block;
  margin-top: 10px;
  margin-bottom: 40px;
}

#product-show-options button{
     width: 100%;
     font-size: 20px; 
     margin-top: 10px;
     color: white;
     background-color: rgb(277, 98, 39);
     cursor: pointer;
     padding: 12px;
     font-weight: 700;
     margin-bottom: 5px;
 }
#product-show-options button:hover{
  background-color: black;
  animation-name: buttonAnimation;
  animation-duration: .5s;
}

#product-show-description{
  margin-bottom: 15px;
}

#product-show-sub-blurb, #product-show-sub-price{
  color:gray;
  font-size: 18px;
  text-align: center;
  width: 100%;
}
#product-show-sub-price{
  margin-bottom: 20px;
}
#show-blurb{
  box-sizing: border-box;
  padding: 15px 0px;
  background: radial-gradient( rgb(255, 251, 175), rgb(226, 224, 181));
  border: solid 1px  rgb(255, 251, 175);
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}


.product-name{
  padding-top: 20px;
  background: repeating-linear-gradient(
  70deg,
  #ffffff,
  #ebebed 4px,
  #ffffff 4px,
  #ffffff 7px
);

}
.product-price{
  padding: 15px 0px 20px;
  background: repeating-linear-gradient(
  70deg,
  #ffffff,
  #ffffff 4px,
  #ebebed 4px,
  #ebebed 7px
  );
}
  .product-display{
  width: 85vw;
  height: 100vw;
  margin: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}

.product-display:active{
  animation-name: hoverAnimation;
  animation-duration: .2s;
  width:90vw; 
  height:110vw;
  margin:0px;
}

@keyframes hoverAnimation {
  0% {width:85vw; height:100vw; margin: 14px;}
  100% {width:90vw; height:110vw; margin:0px;}
}
.category-products{
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 600px) {

  #product-show{
  padding-top: 100px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
#product-show-options{
  width: 35vw;
  display: flex;
  flex-direction: column;
  margin-right: 15vw;
  align-items: flex-start;
}
#product-show-picture{
  width: 30vw;
  height: 30vw;
}

  .product-display{
  width: 27vw;
  height: 26vw;
  margin: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  box-shadow: 2px 2px 2px rgb(208, 208, 208);
}

.product-display:hover{
  animation-name: hoverAnimation;
  animation-duration: .2s;
  width:29vw; 
  height:28vw;
  margin:0px;
  opacity: .75;
}

@keyframes hoverAnimation {
  0% {width:27vw; height:26vw; margin: 14px;}
  100% {width:29vw; height:28vw; margin:0px;}
}
.category-products{
  flex-direction: row;
  align-items: center;
}

}
