/* #home-category-links.searchbar{
  padding-top: 90px;
  animation-name: pageAnimation;
  animation-duration: .25s;
} 

@keyframes pageAnimation {
  0% {padding-top: 55px}
  100% {padding-top: 90px}
}
    
#home-category-links.hidden{
  padding-top: 55px;
  animation-name: pagehideAnimation;
  animation-duration: .25s;
} 

@keyframes pagehideAnimation {
  0% {padding-top: 90px}
  100% {padding-top: 55px} */
/* } */
    
/* #searchbar *{
  animation-name: barAnimation;
  animation-duration: .25s;
  height: 25px
}
#searchbar.hidden *{
  animation-name: barhideAnimation;
  animation-duration: .25s;
  height: 0px
}
#searchbar {
  animation-name: barAnimation;
  animation-duration: .25s;
  height: 25px
}
#searchbar.hidden {
  animation-name: barhideAnimation;
  animation-duration: .25s;
  height: 0px
} */
/* @keyframes barAnimation {
      0% {height: 0px}
      100% {height:25px}
    }
@keyframes barhideAnimation {
      0% {height:25px}
      100% {height: 0px}
    } */
#searchbar.hidden{
  visibility: hidden;
  position: fixed;
  opacity: 0;
  margin-top: -35px;
  transition-duration: .25s;
  transition-timing-function: linear;

}
#searchbar{
  display:flex;
  justify-content: center;
}
#searchbar.shown{
  visibility: visible;
  position: fixed;
  top: 68px;
  margin-top: 0px;
  opacity: 1;
  transition-duration: .25s;
  transition-timing-function: linear;

}

#app.hidden{
  margin-top: 24px;
  transition-duration: .25s;
  transition-timing-function: linear;
}
#app.shown{
  margin-top: 64px;
  transition-duration: .25s;
  transition-timing-function: linear;
}
#searchbar input{
  height: 35px;
  width: 75vw;
  left: 12.5vw;
  font-size: 30px;
  z-index: 1;
}
#searchbar button{
  left: calc(12.5vw - 40px);
  height: 40px;
  width: 41px;
  z-index: 1;
  background-color: rgb(255, 98, 39);
  border: 2px outset;

}
#searchbar button:hover{ 
  background-color: rgb(252, 135, 92);
}
#searchbar button:active{ 
  background-color: rgb(194, 52, 0);
  border:2px inset;
}
.seach-header{
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-title{
  text-shadow: 2px 0px 1px;
  font-size: 45px;
  padding-bottom: 15px;
  padding-top:20px;
}
.search-description{
  font-size: 20px;
}
#search-icon{
  width: 23px;
  position: absolute;
  left: 8px;
  top: 8px;
  z-index: 1;
  /* left: calc(12.5vw - 40px); */
}
#neg{
  z-index: -2;
  height: 40px;
  background-color: white;
  padding-bottom: 5px;
  padding-top: 3px;
  margin-top: -4px;
  border-bottom: #dadce0 1px solid;
  box-shadow: #dadce0 1px 1px 3px;
}

#root.spin-on *{
  /* animation-name: spinAnimation; */
  transition-duration: 3s;
  transition-timing-function: linear;
  transform: rotate(360deg);
}
#root.spin-off *{
  /* animation-name: spinAnimation; */
  transition-duration: 3s;
  transition-timing-function: linear;
  transform: rotate(0deg);
}

@keyframes spinAnimation {
  0%   {transform: rotate(0deg);}
  100% {transform: rotate(1800deg);}
}